<body>
  <table>
    <% data.forEach((item)=>{%>
    <tr>
      <th><%=item.name%></th>
    </tr>
    <tr>
      <td><img alt="" src="<%=item.url %>" width="250" height="250" /></td>
    </tr>
    <%});%>
  </table>
</body>
